<p style="color: green"><%= notice %></p>

<div id="stories" class="stories_container">
  <h2> Favourittes </h2>

  <% @favourittes.each do |favouritte| %>
    <% story = favouritte.story %>
    <%= link_to story do %>
      <%= render story %>
    <% end %>
  <% end %>
</div>
