<p style="color: green"><%= notice %></p>

<div id="stories" class="container">
  <% @stories.each do |story| %>
    <div>
      <%= render story %>
      <p><%= link_to "Show this story", story %></p>
    </div>
  <% end %>
</div>

<%= link_to "New story", new_story_path %>
