/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Alle*/
.content {
   margin: 0;
   padding: 0;
   min-height: 800px;
   display: flex;
}

main {
   margin: 20px;
}

#sidenav {
   min-height: 800px;
}

/* Feed index */
.feed_stories_container {
   display: flex;
}

.feed_story {
   margin: 20px;
   color:black;
   text-decoration: none;
}

.feed_story p {
   text-decoration: none;
}


/* Stories show */
#show_story_top {
   display: flex;
   margin-bottom: 40px;
}

#show_story_top div {
   margin-right: 20px;
}

#show_story_top_right {
   position: relative;
}

#show_story_top_right div {
   position: absolute;
   width: 800px;
   bottom: 10px;
}


#show_story_center {
   display: flex;
   margin-bottom: 40px;
}

#show_story_center button {
   margin-left: 20px;

}


