
<nav class="navbar navbar-light">
  <a href="#sidebar" data-bs-toggle="offcanvas" role="button" arial-controls="sidebar" class="p-2 m-2">
    <span class="material-icons">menu</span>
  </a>
  <div>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link">
          <% if user_signed_in? %>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-info p-2 m-2" %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class:"btn btn-info p-2 m-2" %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</nav>

