<div class="offcanvas offcanvas-start" z-index="-1" id="sidebar" aria-labelledby="sidebar-label">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="sidebar-label">Rorbua</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New story", new_story_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My stories", root_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Favorites", favourites_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</div>